header {
  display: flex;
  justify-content: space-between; /* Espace entre le logo et les liens */
  align-items: center;            /* Centrage vertical */
  height: 64px;
  background-color: darkblue;
  padding: 0 20px;
}

header img.logo {
  height: 48px;
  left:0;
}

nav {
  display: flex;          /* <<< Aligne les liens en ligne */
  gap: 20px;              /* Espace horizontal entre chaque lien */
}

nav a {
  color: aliceblue;
  text-decoration: none;
  line-height: 64px;
  padding: 0 20px;
}

nav a:hover {
  background-color: blue;
}

body{
  margin: 0;
}

footer {
  background-color: #007acc;
  color: white;
  text-align: center;
  padding: 10px 0;
  margin-top: 30px;
}